{% extends "base.html" %}
{% block title %}Home - Akmessage{% endblock %}
{% block content %}
  <div class="text-center">
    <h1>Welcome to Akmessage!</h1>
    {% if not current_user.is_authenticated %}
      <a class="btn btn-primary m-2" href="{{ url_for('login') }}">Login</a>
      <a class="btn btn-secondary m-2" href="{{ url_for('register') }}">Register</a>
    {% else %}
      <a class="btn btn-success m-2" href="{{ url_for('conversations') }}">Go to Chats</a>
    {% endif %}
    </div>
  {% endblock %}